

.header-design{
font-size: 30px;
color:white;
text-align: center;
background-color: black;
}

.header-design{
     padding: 20px ;
     padding-top: 20px;
     color:beige;
     padding-top: 80px;
}

p{
     font-size: 20px;
     padding-top: 10px;
     padding-bottom: 80px;
}

