
<p>
<button class="btn btn-primary" id="button" [routerLink]="['/shop']">Home</button>
<button class="btn btn-primary" id="button" [routerLink]="['/register']">Sign-up here</button>
<button class="btn btn-primary" id="button" [routerLink]="['/login']">Log in here</button>
<button class="btn btn-primary" id="button" [routerLink]="['/admin']">Admin Login</button>

</p>

   <div>
      <marquee class="m"><strong>Register with us for latest updates and deals of watches</strong></marquee>
    </div>

